/.idea
/*.iml
/out
/nbproject
#Eclipse metadata ignore
/.eclipse
/.project
/.metadata
/.settings
/.classpath

/errors
/crash-reports
/configurations
/dssl
/settings.dat
/smorebank.dat
/special.dat
/*.ncpf
/*.ncpf.*
/*.dssl
/*.json
/*.png
/version.version
/benchmark.ncpf
/benchmark.json
/dssl.jar
/patrons-list.txt

/build.xml
/manifest.mf
/dist/
/build/
/bin/
libraries/JDA-4.3.0_277-withDependencies-min.jar
libraries/dssl-3.0.jar
libraries/dssl-4.2.jar
